[submodule "WeatherApp"]
	path = WeatherApp
	url = git@github.com:kenxsantos/WeatherApp.git
[submodule "FlutterCalculator"]
	path = FlutterCalculator
	url = git@github.com:kenxsantos/flutter-calculator-bloc.git
[submodule "ShoppingList"]
	path = ShoppingList
	url = git@github.com:kenxsantos/shopping-list-flutter-bloc.git
[submodule "ConnectionChecker"] 	path = ConnectionChecker
	url = git@github.com:kenxsantos/connection-checker-bloc.git
[submodule "KotlinCalculator"]
	path = KotlinCalculator
	url = git@github.com:kenxsantos/simple-calculator-kotlin.git
[submodule "FlappyBird"]
	path = FlappyBird
	url = git@github.com:kenxsantos/flappy-bird.git
[submodule "Feelio"]
	path = Feelio
	url = git@github.com:kenxsantos/Feelio.git
[submodule "Breakout_2DGame"]
	path = Breakout_2DGame
	url = git@github.com:kenxsantos/Breakout_2DGame.git
